.dop10 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .input-element {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;

    .tool-tip {
      position: absolute;
      display: none;
      padding: 4px 8px;
      left: 5px;
      top: calc(100% + 6px);
      background-color: #b8b6b6;
      border-radius: 10px;
      max-width: 300px;
      min-width: 150px;
      z-index: 1;
    }
    input.tooltips{
      width: 150px;
      &:hover{
        &~.tool-tip{
          display: flex;
        }
      }
    }
    .tooltips{
      width: 150px;
      overflow: hidden;
      white-space: nowrap;
      &:hover{
        &~.tool-tip{
          display: flex;
        }
      }
    }
  }

}


