<div class="dop10">
  <div class="input-element" ellipsisTooltip>
        <input class="tooltips" type="text" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolore dolorum itaque iusto maiores nihil nostrum odio quam suscipit velit. Dignissimos distinctio dolore et facere veniam! Doloremque excepturi quibusdam vel.">
<!--    <span class="tool-tip"></span>-->
  </div>

  <div class="input-element" ellipsisTooltip>
    <input class="tooltips" type="text" value="Привет">
<!--    <span class="tool-tip"></span>-->
  </div>
</div>
