<div class="dop8r">
  <div><b>Для очистки формы зажать на 3 секунды кнопку</b></div>
  <form action="">
    <div class="input-field">
      <label for="name">Name</label>
      <input type="text" id="name">
    </div>
    <div class="input-field">
      <label for="nickName">Nickname</label>
      <input type="text" id="nickName">
    </div>
    <div class="input-field">
      <label for="age">Возвраст</label>
      <input type="text" id="age">
    </div>
    <button class="btn" type="reset" longPressResetR (onReset)="reset()">Сбросить (удерживайте 3 сек)</button>
  </form>
</div>
